@charset "UTF-8";

.hstack {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}
  
.vstack {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-self: stretch;
}

  footer {
	width: 100%;
	background-color: rgb(39, 39, 39);
	color:white;
	padding: 7px;
	margin-top: 30px;
}

.justifytxt {
	text-align: justify;
	text-justify: inter-word;
}

.navbar-nav .nav-item .nav-link {
	  font-size: 20px;
}

.modal-fullscreen {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;
	  border-left: 0px;
}

.modal-content {
	height: 100%;
	border: 0;
	border-radius: 0;
}

.modal-header,
.modal-footer {
 border-radius: 0;
}

.modal-body {
	overflow-y: auto;
  }
  
p {
	font-size: 17px;
}

li {
	font-size: 17px;
}